body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: url(kapak.jpg);
    background-size: cover;
}

header{
    background-color: white;
    text-align: center;
}

a[type="is"]{
    font-size: 30px;
    color: gray;
    left: 100px;
    }

a[type="is"]:hover{
    font-size: 30px;
    color: black;
    left: 100px;
}

a[type="hak"]{
font-size: 30px;
color: gray;
left: 100px;
}

a[type="hak"]:hover{
    font-size: 30px;
    color: black;
    left: 100px;
}

a[type="ozg"]{
    font-size: 30px;
    color: gray;
    left: 125px;
}

a[type="ozg"]:hover{
    font-size: 30px;
    color: black;
    left: 100px;
}

a[type="seh"]{
    font-size: 30px;
    color: gray;
    left: 150px;
}

a[type="seh"]:hover{
    font-size: 30px;
    color: black;
    left: 100px;
}

a[type="ilg"]{
    font-size: 30px;
    color: gray;
    left: 175px;
}

a[type="ilg"]:hover{
    font-size: 30px;
    color: black;
    left: 100px;
}

a[type="kap"]{
    font-size: 30px;
    color: gray;
    left: 200px;
}

a[type="kap"]:hover{
    font-size: 30px;
    color: black;
    left: 100px;
}

a[type="li"]{
    font-size: 30px;
    color: blue;
    left: 200px;
}

a[type="li"]:hover{
    font-size: 30px;
    color: rgb(38, 179, 226);
    left: 100px;
}
body{
    background-color: aliceblue;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -73%);
    width: 350px;
    height: 420px;
}

#bo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    transform: translate(-50%, -73%);
    top: 30%;
    left: 30%;

}

#da{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    transform: translate(-50%, -73%);
    top: 36%;
    left: 24.5%;

}

#ds{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    transform: translate(-50%, -73%);
    top: 42%;
    left: 22%;

}

#oa{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    transform: translate(-50%, -73%);
    top: 48%;
    left: 29%;

}

#ok{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    transform: translate(-50%, -73%);
    top: 54%;
    left: 25.5%;

}

#as{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    transform: translate(-50%, -73%);
    top: 66%;
    left: 25.5%;
    

}

#on{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    transform: translate(-50%, -73%);
    top: 72%;
    left: 23.5%;

}

#gl{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    transform: translate(-27%, -73%);
    top: 84%;
    left: 17.8%;

}

#hl{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    transform: translate(-25%, -73%);
    top: 90%;
    left: 17%;
}